
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    @*@{ Html.RenderPartial("Navbar"); }*@




    @RenderBody()



    <div style="max-width:98%">
        @*@{ Html.RenderPartial("PartialFooter"); }*@
    </div>
    <!--JQuery-->
    @*<script src="~/Scripts/jquery-3.0.0.min.js"></script>*@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>

    <script src="~/MVCGridHandler.axd/script.js"></script>

</body>
</html>
