




<nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">

    <a class="navbar-brand" href="#">siteadı</a>
    <div style="margin-left:17%">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                    <button class="btn btn-outline-light my-2 my-sm-0 " type="submit">Anasayfa  </button>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Kullanıcı Listesi</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Kullanıcı Ekle</a> 
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Kullanıcı Detay sayfası</a>

                </li> 
            </ul>

            <form class="form-inline my-8 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Aranacak kelime">

                <button class="btn btn-outline-light my-2 my-sm-0 " type="submit">Site içi arama</button>

            </form>

        </div>


    </div>
</nav>